
html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding: 0; 
  margin: 0;
  background: #D1D9FF;
  font-family: Pacifico;
}

.logo {
  margin-left: 104px;
  font-size: 40px;
}

.logoLink {
  margin-left: 104px;
  font-size: 40px;
  text-decoration: none;
  outline: none;
}

.logoLink:hover { color:black; } 
.logoLink:link { color:black; }
.logoLink:visited { color:black; }
.logoLink:hover:visited { color:black; } 
.logoLink:active { color:black; }

.header {
  background: white;
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}